.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
*.iml
*.jks
*.keystore
key.properties
.env
.env.*
.supabase.env
supabase.env
*.pem
*.p12
*.pfx
.DS_Store
